body {
    font-family: ;
    color: #4A34D9;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    -webkit-user-select: none;
    background-color: #CAE1F1;
}

header {
    font-size: 45px;
    margin: 20px auto;
    font-family: 'Heebo', sans-serif;
}

#introContainer, #intro {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-size: 22px;
    color: darkslategray;
}

p {
    font-size: 30px;
    letter-spacing: 1px;
}

table {
    margin: 10px auto;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

td {
margin: 5px auto;
padding: 20px;
}

img {
    border-radius: 50%;
    border: 5px solid #4A34D9;
    background-color: grey;
    width: 200px;
    height: 200px;
}

#Container {
    display: flex;
    flex-direction: row;
    margin: 25px auto;
    padding: 25px;
    width: 800px;
}

#Rock {
    margin: 25px auto;
}

#Rock:hover {
    transform: scale(1.1);
}

#Paper {
    margin: 25px auto;
}

#Paper:hover {
    transform: scale(1.1);
}

#Scissors {
    margin: 25px auto;
}

#Scissors:hover {
    transform: scale(1.1);
}